* {
    background-color: black;
}




#ball0{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}


#ball1{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}

#ball2{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}

#ball3{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}

#ball4{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}

#ball5{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}


#ball6{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}

#ball7{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}

#ball8{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}

#ball9{
    background-color: transparent;
    border: solid 5px white;
    position: absolute;
    border-radius: 200px;
    top: 100px;
    left: 200px;
}
